<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classification</title>
</head>
<body>

    {% if form %}

      <h1>Upload new File</h1>
      {# <img src="{{ url_for('static', filename='dog.jpg') }}" /> #}

    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

    {% else %}
    <img target="_blank" src="{{ url_for('static', filename = file ) }}" />
     <h3>Result : {{ result }}</h3>

    {% endif %}
</body>
</html>

